.project_container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2vmin 4vmin;
  margin-bottom: 2vmin;
}

.personal_website
{
  width: 50vmin;
  height: 40vmin;

  background-size: 71vmin;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  order: 1;
  margin-top: 2vmin;
  font-size: 0px;
}

.personal_website:hover
{
    background-color: #ffeafe; 
    color: black;
    font-size: calc(4vmin);
    font-family:serif;
}

.flix_finder
{
    width: 50vmin;
    height: 40vmin;
    background-image: url("Assets/FlixFinder.png");
    background-size: 71vmin;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    order: 2;
    margin-top: 2vmin;
    font-size: 0px;
}

.flix_finder:hover
{
    background-color: #ffeafe; 
    color: black;
    font-size: calc(4vmin);
    font-family:serif;
    background-image:none;
}

.needle_felting_machine
{
    width: 50vmin;
    height: 40vmin;
    background-image: url("Assets/NeedleFeltingMachine.png");
    background-size: 75vmin;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    order: 3;
    margin-top: 2vmin;
    font-size: 0px;
}

.needle_felting_machine:hover
{
    background-color: #ffeafe; 
    color: black;
    font-size: calc(4vmin);
    font-family:serif;
    background-image:none;
}

.infrared_light_head_tracker
{
    width: 50vmin;
    height: 40vmin;
    background-image: url("Assets/InfraredLightHeadTracker.png");
    background-size: 70vmin;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    order: 4;
    margin-top: 2vmin;
    font-size: 0px;
}

.infrared_light_head_tracker:hover
{
    background-color: #ffeafe; 
    color: black;
    font-size: calc(4vmin);
    font-family:serif;
    background-image:none;
}