.App {
  text-align: center;
  height: 100%;
}

.button_container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vmin;
  border-bottom: 1px solid black;
}

.home_button
{
  width: 25vmin;
  height: 6vmin;
  background-color: #e3e3e3;
  order: 1;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  color: black;
  font-size: calc(4vmin);
  font-family:serif;
}

.home_button:hover
{
  background-color: #c0c0c0;
}

.resume_button
{
  width: 25vmin;
  height: 6vmin;
  background-color: #e3e3e3;
  order: 2;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  color: black;
  font-size: calc(4vmin);
  font-family: serif;
}

.resume_button:hover
{
  background-color: #c0c0c0;
}

.projects_button
{
  width: 25vmin;
  height: 6vmin;
  background-color: #e3e3e3;
  order: 3;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  color: black;
  font-size: calc(4vmin);
  font-family: serif;
}

.projects_button:hover
{
  background-color: #c0c0c0;
}

.experience_button
{
  width: 25vmin;
  height: 6vmin;
  background-color: #e3e3e3;
  order: 4;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  color: black;
  font-size: calc(4vmin);
  font-family: serif;
}

.experience_button:hover
{
  background-color: #c0c0c0;
}

.about_me_button
{
  width: 25vmin;
  height: 6vmin;
  background-color: #e3e3e3;
  order: 5;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  color: black;
  font-size: calc(4vmin);
  font-family: serif;
}

.about_me_button:hover
{
  background-color: #c0c0c0;
}

